@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"); */

body {
  /* font-family: "Outfit", sans-serif !important; */
  font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base {
  :root {
    --background: 240, 20%, 3%;
    --foreground: 0 0% 96%;

    --card: 240, 7%, 8%;
    --card-foreground: 0 0% 98%;

    --popover: 240, 7%, 8%;
    --popover-foreground: 0 0% 98%;

    --primary: 217, 91%, 60%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220, 8%, 14%;
    --input: 0 0% 14.9%;
    --ring: 217, 91%, 60%;

    --radius: 0.5rem;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: 50;
}

#navbar {
  overflow: hidden !important;
}

.animated-cards::before {
  @apply pointer-events-none absolute -inset-px z-[-1] select-none rounded-lg opacity-0 transition-opacity duration-300 content-[''] hover:opacity-100;
  background: radial-gradient(
    370px circle at var(--x) var(--y),
    rgba(146, 149, 255, 0.984) 25%,
    rgba(242, 0, 0, 0) 50%,
    transparent 80%
  );
}
